SignalAnalyzer/bin/Debug/SignalAnalyzer.vshost.exe

SignalAnalyzer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SignalAnalyzer.v12.suo
SignalAnalyzer/bin/Debug/SignalAnalyzer.exe

SignalAnalyzer/bin/Debug/SignalAnalyzer.pdb
SignalAnalyzer/obj/Debug/SignalAnalyzer.exe
SignalAnalyzer/obj/Debug/SignalAnalyzer.pdb